<div id="like" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {% for movie in like_genre_movies %}
    {% if forloop.first %}
    <div class="carousel-item active">
      <div class=" row d-block m-auto">
        <div class="col text-center">
          <h3 class="text-center">{{movie.title}}</h3>
          <a href="{% url 'movies:detail' movie.pk %}">
            <img src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}" >
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="carousel-item">
      <div class="row">
        <div class="col text-center">
          <h3 class="text-center">{{movie.title}}</h3>
          <a href="{% url 'movies:detail' movie.pk %}">
            <img src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}">
          </a>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
    <a class="carousel-control-prev " href="#like" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#like" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>