{% extends 'movies/base.html' %}

{% block content %}
<h1 class="text-center">전체 영화</h1>
<hr>
<div class="justify-content-center">
<div class="card-group">
{% for movie in movies %}
<div class="row m-1">
<div class="card rounded mb-2" style="width: 13rem; ">
  <a href="{% url 'movies:detail' movie.pk %}" ><img data-toggle="tooltip" data-placement="right" title="{{movie.title}}" class="card-img-top" src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}" ></a>

</div>
</div>
{% endfor %}
</div>
</div>

{% endblock content %}