{% extends 'movies/base.html' %}

{% block content %}

<h1>{{ movie.title }}</h1>
{{movie.overview}}
<p> 장르 : 
{% for genre in movie.genres.all %}
{{genre.name}}
{% endfor %}
</p>

<br>
{% for actor in movie.actors.all %}
<p>
{{actor.name}}
<img src="https://image.tmdb.org/t/p/w200{{actor.profile_path}}" alt="">
</p>


{% endfor %}
<br>



{% for review in reviews %}
<hr>
<p>
{{review.content}}
</p>
<p>
{{review.score}}
</p>


{% endfor %}

<hr>
{% if user.is_authenticated %}
<form action="{% url 'movies:review_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {{ reviewform.as_p }}
  <input type="submit" value="제출">
</form>
{% endif %}
{% endblock content %}