{% extends 'movies/base.html' %}
{% block content %}
<link rel="stylesheet" href="movie.css">

<h1 class="text-center">{{ movie.title }}</h1>

<div class="text-center">
  <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="">
</div>
<p>
  <p>
    <button class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample1" role="button"
      aria-expanded="false" aria-controls="multiCollapseExample1">줄거리</button>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
      aria-expanded="false" aria-controls="multiCollapseExample2">장르</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#actor">
      배우
    </button>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#trailer">
      트레일러
    </button>
    <a href="{% url 'movies:like' movie.pk %}">
        {% if user in movie.like_users.all %}
          <i class="fas fa-heart" style="color: red"></i>
        {% else %}
          <i class="far fa-heart" style="color: black;"></i>
        {% endif %}
      </a>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          {{movie.overview}}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          {% for genre in movie.genres.all %}
          {{genre.name}}
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
  <!-- actors -->
  <!-- Modal -->
  <div class="modal fade" id="actor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    {% include 'movies/_actormodal.html' %}
  </div>
  <div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    {% include 'movies/_trailer.html' %}
  </div>
  <hr>
  <p>전체 평점 : {{average_value}}</p>
  <!-- review -->
  {% for review in reviews %}
    <hr>
    <p>
      <b style="font-size: 1.5rem;">{{review.content}}</b> - {{review.user.username}}
    </p>
    <p>
      {{review.score}}점
    </p>
    {% if user == review.user %}
      <form action="{% url 'movies:review_update' movie.pk review.pk %}" class="d-inline-flex" style="width:60px;">
        <input type="submit" class="btn btn-dark" value="수정">
      </form>
      <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="POST" class="d-inline-flex" style="width:60px;">
        {% csrf_token %}
        <input type="submit" class="btn btn-dark" value="삭제">
      </form>   
    {% else %}
      {% if user in review.user.followers.all %}
        <form action="{% url 'movies:follow' movie.pk review.user_id %}">
          <input type="submit" value="UnFollow">
        </form>
      {% else %}
        <form action="{% url 'movies:follow' movie.pk review.user_id %}">
          <input type="submit" value="Following">
        </form>
      {% endif %}
    {% endif %}
  {% endfor %}
  <hr>
  {% if user.is_authenticated %}
    <form action="{% url 'movies:review_create' movie.pk %}" method='POST'>
      {% csrf_token %}
      <p>content : {{ reviewform.content }}</p>
      <p style="display:none">{{ reviewform.score }}</p>
      <p>score : <input type="number" id="test" min="0.0" max="10.0" step="0.1" value="{{score}}" onKeyUp="keyboard()" onmouseup="deMouse()" onmousedown="pushMouse()"></p>
      <input type="range" onclick="mouse()" class="custom-range bg-dark" min="0" max="10" step="0.1" id="range" value="{{score}}">
      <input class="btn btn-dark" type="submit" value="저장">
    </form>  
    <script>
      function mouse() {
        document.getElementById("test").value = document.getElementById("range").value
        document.getElementById("id_score").value = document.getElementById("range").value
      }
      var isPressed = false
      function deMouse() {
        isPressed = false
      }
      function pushMouse() {
        isPressed = true
        changeValue()
      }
      function changeValue() {
        if (isPressed) {
          document.getElementById("range").value = document.getElementById("test").value
          document.getElementById("id_score").value = document.getElementById("test").value
          setTimeout(function() {
            changeValue();
          }, 50);
        }
      }
      function keyboard() {
        document.getElementById("range").value = document.getElementById("test").value
        document.getElementById("id_score").value = document.getElementById("test").value
      }    
    </script>
  {% endif %}
  {% endblock content %}