{% extends 'movies/base.html' %}

{% block content %}
  <form action="" method='POST'>
    {% csrf_token %}
    <p>content : {{ form.content }}</p>
    <label for="range">score :</label>
    <input type="range" class="custom-range bg-dark" min="0" max="10" step="0.1" id="range" value="{{score}}" ondrag="myScript(event)">
    <input class="btn btn-dark" type="submit" value="저장">
  </form>  
{% endblock content %}


<script>
  function myScript(e) {
    console.log('ㅇㅇㅇㅇ')
  }
  const getValue = document.querySelector('#dragInner')
  getValue.addEventListener('drag', myScript(event) {
    console.log('움직이고 있음')
  })
</script>