{% extends 'movies/base.html' %}

{% block content %}
  <h1>좋아하는 장르를 선택하세요</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% for genre in genres %}
      <div class="form-check" style="font-size: 1.5rem;">
        <ul class="ks-cboxtags">
          <li>
            <input name="checks" type="checkbox" value="{{genre.pk}}" id="{{genre.pk}}">
            <label for="{{genre.pk}}">
              {{ genre.name }}
            </label>
          </li>
        </ul>
      </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-dark">Save</button>

  </form>
  <br>
  <form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-dark">Skip</button>

  </form>
{% endblock content %}
