{% extends 'movies/base.html' %}

{% block content %}



{% include 'accounts/_detail.html' %}
<br>
<a href="{% url 'accounts:change_password' %}" role="button" class="btn btn-dark">유저 비밀번호 변경</a>
{% if user.genre_prefers.all|length %}
  <form action="{% url 'movies:select_genre' %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-dark" value="선호 장르 변경">
  </form>
{% else %}
  <a href="{% url 'movies:select_genre' %}" role="button" class="btn btn-dark">선호 장르 변경</a>
{% endif %}
{% endblock content %}