{% extends 'movies/base.html' %}

{% block content %}

<h3>좋아요한 영화 장르</h3>
{% for movie in person.like_movies.all %}
  {% for genre in movie.genres.all %}
    <p>
    {{genre.name}}
    </p>
  {% endfor %}
{% endfor %}


<br>
<a href="{% url 'accounts:change_password' %}" role="button" class="btn btn-dark">유저 비밀번호 변경</a>
{% if user.genre_prefers.all|length %}
  <form action="{% url 'movies:select_genre' %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-dark" value="선호 장르 변경">
  </form>
{% else %}
  <a href="{% url 'movies:select_genre' %}" role="button" class="btn btn-dark">선호 장르 변경</a>
{% endif %}
{% endblock content %}