{% extends 'movies/base.html' %}
{% load socialaccount %}
{% load static %}
{% block login %}
  <div class="float">
  <h1>LOGIN</h1>
  <div class="login">
    <form action="" method="POST">
      {% csrf_token %}
      <label > USERNAME : {{ form.username }}
      </label><br>
      <label > PASSWORD : {{ form.password}}
      </label> <br>
      <button type="submit" class="btn btn-outline-dark">Login</button>    </form>
  </div>
  <br>
  <button  type="button" class="btn btn-warning mb-4" onclick="location.href='{% provider_login_url "kakao" %}'">
    <img src="{% static 'accounts/k.png' %}" width="30px" height="30px"alt="">
   | Kakao login</button><br>
  <button  type="button" class="btn btn-light" onclick="location.href='{% provider_login_url "google" %}'">
  <img src="{% static 'accounts/google.png' %}" width="23px" height="23px"alt="">
   | Google login</button>
  </div>
{% endblock %}
