{% extends 'movies/base.html' %}
{% load socialaccount %}

{% block login %}
  <div class="float">
  <h1>로그인</h1>
  <div class="login">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="로그인">
    </form>
  </div>
  <br>
  <button  type="button" class="btn btn-warning mb-4" onclick="location.href='{% provider_login_url "kakao" %}'">Kakao 계정으로 로그인 하기</button><br>
  <button  type="button" class="btn btn-light" onclick="location.href='{% provider_login_url "google" %}'">Google 계정으로 로그인 하기</button>
  </div>
{% endblock %}
